@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
    url("./../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"),
    url("./../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

/*Variables*/

:root {
  --white: #FFFFFF;
  --opacity-08-white: rgba(255, 255, 255, 0.8);
  --opacity-07-white: rgba(255, 255, 255, 0.7);
  --opacity-05-white: rgba(255, 255, 255, 0.5);
  --opacity-04-white: rgba(255, 255, 255, 0.4);
  --opacity-03-white: rgba(255, 255, 255, 0.3);
  --opacity-02-white: rgba(255, 255, 255, 0.2);
  --black: #000000;
  --opacity-04-black: rgba(0, 0, 0, 0.4);
  --opacity-007-black: rgba(0, 0, 0, 0.07);
  --dark: #323232;
  --opacity-02-dark: rgba(50, 50, 50, 0.2);
  --opacity-03-dark: rgba(50, 50, 50, 0.3);
  --light: #FEFEFE;
  --light-beige: #F8F7F4;
  --opacity-05-light-beige: rgba(248, 247, 244, 0.5);
  --very-dark-grey: #696969;
  --dark-grey: #999999;
  --grey: #ABABAB;
  --opacity-052-extra-grey: rgba(178, 178, 178, 0.52);
  --light-grey: #EDEDED;
  --very-dark-grayish-blue: #313235;
  --opacity-05-very-dark-grayish-blue: rgba(49, 50, 53, 0.5);
  --grayish-yellow: #CACAC7;
  --light-grayish-green: #ECF1EE; /* под вопросом*/
  --dark-dark-red: #A0300B;
  --opacity-076-dark-dark-red: rgba(160, 32, 11, 0.76);
  --dark-red: #AC1000;
  --opacity-064-dark-red: rgba(172, 16, 0, 0.64);
  --extra-dark-red: #942718;
  --red: #E84D37;
  --opacity-03-red: rgba(232, 77, 55, 0.3);
  --moderate-red: #D07058;
  --very-soft-red: #F6B5A5;
  --light-grayish-red: #FBDED7;
  --pale-orange: #FFBC9E;
  --opacity-03-pale-orange: rgba(255, 188, 158, 0.3);
  --bright-red: #F26843;
  --extra-bright-red: #E74A35; /*под вопросом*/
  --opacity-052-blue: rgba(46, 136, 228, 0.52);

  --bg-1: #849D8F;
  --bg-2: #8996A6;
  --bg-3: #9D8B84;
  --sections-bg: var(--light-beige);
  --extra-sections-bg: var(--light);

  --text-color: var(--white);
  --extra-text-color: var(--dark);

  --link-underline: var(--opacity-03-white);
  --link-hover: var(--pale-orange);
  --link-hover-underline: var(--opacity-03-pale-orange);
  --extra-link-underline: var(--opacity-03-dark);
  --extra-link-hover: var(--red);
  --extra-link-hover-underline: var(--opacity-03-red);

  --interactive-elements: var(--opacity-02-white);

  --btn: linear-gradient(180deg, var(--bright-red) 0%, var(--extra-bright-red) 100%);
  --btn-shadow: var(--opacity-064-dark-red);
  --btn-text-shadow: var(--opacity-076-dark-dark-red);
  --btn-hover: linear-gradient(0deg, var(--opacity-02-white), var(--opacity-02-white)), var(--btn);
  --btn-hover-shadow: var(--dark-red);
  --btn-active: linear-gradient(0deg, var(--opacity-007-black), var(--opacity-007-black)), var(--btn);
  --btn-active-shadow: var(--extra-dark-red);
  --extra-btn-active-shadow: var(--very-dark-grey);
  --nav-btn: var(--opacity-02-white);
  --nav-btn-hover: var(--white);
  --nav-btn-active: var(--light-grey);
  --nav-btn-nothref: var(--moderate-red);
  --nav-btn-underline: var(--opacity-02-white);
  --nav-popup-shadow: var(--opacity-04-black);
  --dropdown-hover: var(--light-grayish-red);
  --dropdown-active: var(--very-soft-red);
  --dropdown-current: var(--moderate-red);
  --pages-btn: var(--white);
  --pages-btn-hover: var(--opacity-02-white);
  --form-interactive: var(--opacity-05-white);
  --form-range-price: var(--light-beige);
  --form-range-price-disabled: var(--opacity-05-light-beige);
  --product-card-hit: var(--white);
  --filter-btn: var(--white);
  --price-text-shadow: var(--opacity-05-very-dark-grayish-blue);
}

/*Global*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);

  background-color: var(--bg-1);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  border: none;
  appearance: none;
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn {
  display: inline-block;
  vertical-align: baseline;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color);
  background: var(--btn);
  box-shadow: 0px 2px 2px var(--btn-shadow);
  border-radius: 99999px;
  padding: 12px 22px;
  transition: all 0.3s;
  text-shadow: 0px 2px 5px var(--btn-text-shadow);
}

.btn:hover, .btn:focus {
  background: var(--btn-hover);
  box-shadow: 0px 2px 2px var(--btn-hover-shadow);
}

.btn:active {
  background: var(--btn-active);
  box-shadow: inset 0px 2px 2px var(--btn-active-shadow);
}

.link {
  color: var(--text-color);
  transition: all 0.3s;
  display: inline-block;
}

.link[href] {
  text-decoration: underline;
  text-decoration-color: var(--link-underline);
}

.link[href]:hover, .link[href]:focus, .link[href]:active {
  color: var(--link-hover);
  text-decoration-color: var(--link-hover-underline);
}

.link--dark {
  color: var(--extra-text-color);
  text-decoration-color: var(--extra-link-underline)
}

.link--dark[href]:hover, .link--dark[href]:focus, .link--dark[href]:active {
  color: var(--extra-link-hover);
  text-decoration-color: var(--extra-link-hover-underline);
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.main-header {
  z-index: 1;
}

.main-header__container {
  align-items: center;
}

.main-header__container--up {
  padding-top: 3px;
  display: grid;
  grid-template-columns: min-content 1fr;
}

.main-header__container--down {
  padding-top: 1px;
  transform: translateY(-5px);
}

.main-header__logo {
  min-width: 154px;
  padding-top: 6px;
}

.main-nav {
  display: flex;
  width: 100%;
}

.nav-pages, .nav-buttons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__pages {
  margin-left: 10px;
}

.nav-pages__dropdown {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  margin: 0;
  transform: translate(-6px, 5px);
}

.nav-pages__item:hover > .nav-pages__dropdown,
.nav-pages__item:focus-within > .nav-pages__dropdown {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.dropdown {
  padding: 0;
  background: var(--nav-btn-hover);
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--nav-popup-shadow);
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  color: var(--extra-text-color);
}

.dropdown li {
  margin: 2px 0;
}

.dropdown__link {
  display: block;
  padding: 7px 19px 7px 22px;
}

.dropdown__link:hover,
.dropdown__link:focus {
  background-color: var(--dropdown-hover);
}

.dropdown__link:active {
  background-color: var(--dropdown-active);
}

.dropdown__link--current,
.dropdown__link--current:hover,
.dropdown__link--current:active {
  color: var(--text-color);
  background-color: var(--dropdown-current);
}

.dropdown__link--with-underline {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.main-header__buttons {
  margin-left: auto;
}

.nav-pages__item {
  margin-right: 4px;
}

.nav-buttons__item {
  margin-left: 10px;
}

.nav-pages__btn, .nav-pages__btn:hover, .nav-pages__btn:focus, .nav-pages__btn:active, .nav-buttons__btn, .nav-buttons__btn:hover, .nav-buttons__btn:focus, .nav-buttons__btn:active {
  background: none;
  box-shadow: none;
  text-shadow: none;
}

.nav-pages__btn, .nav-buttons__btn {
  padding: 6px 14px 7px 14px;

  font-size: 16px;
  line-height: 18px;

  min-height: 31px;
  min-width: 31px;

  position: relative;
}

/* .nav-pages__btn[href] {
  text-decoration: underline;
  text-decoration-color: var(--nav-btn-underline);
}

.nav-pages__btn[href]:active, .nav-pages__btn[href]:hover, .nav-pages__btn[href]:focus {
  text-decoration: none;
  text-decoration-color: var(--nav-btn-underline);
}
*/

.nav-buttons__btn {
  background: var(--nav-btn);
}

.nav-pages__btn[href]:hover, .nav-pages__btn[href]:focus, .nav-buttons__btn[href]:hover, .nav-buttons__btn[href]:focus,
.nav-pages__item:hover .nav-pages__btn {
  background: var(--nav-btn-hover);
  color: var(--extra-text-color);
}

.nav-pages__btn:active, .nav-buttons__btn:active {
  background: var(--nav-btn-active);
  box-shadow: inset 0px 2px 1px var(--extra-btn-active-shadow);
  color: var(--extra-text-color);
  text-decoration: none;
  text-decoration-color: var(--nav-btn-underline);
}

.nav-pages__btn:not(.nav-pages__btn--current)::before {
  content: "";
  position: absolute;
  bottom: 6px;
  width: calc(100% - 24px);
  height: 1px;
  background-color: var(--opacity-02-white);
}

.nav-pages__btn:not(.nav-pages__btn--current):hover::before,
.nav-pages__btn:not(.nav-pages__btn--current):focus::before {
  content: "";
  left: 50%;

  width: 0;
}

.nav-pages__btn--current {
  background-color: var(--nav-btn-nothref)
}

.main-header__contacts {
  margin-left: auto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.main-header__contacts p {
  margin: 0;
  margin-bottom: 8px;
}

.main-header__contacts a {
  font-size: 22px;
  line-height: 24px;
  color: var(--text-color);
  position: relative;
}

.main-header__contacts a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--opacity-02-white);
  transition: 0.3s;
}

.main-header__contacts a:hover::before,
.main-header__contacts a:focus::before {
  content: "";
  left: 0;

  width: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  row-gap: 40px;
  margin-bottom: 40px;
}

.carousel {
  position: relative;
  grid-column: 1/-1;
}

.carousel__slides-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.carousel-slide {
  padding: 268px 237px 0;
  display: none;
  flex-direction: column;
  align-items: center;
}

.carousel-slide__title {
  margin: 0 0 27px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.carousel-slide__btn {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  padding: 9px 23px;
}

.carousel-slide img {
  display: none;
  position: absolute;
  top: -378px;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
  max-width: none;
}

.carousel-slide--active, .carousel-slide--active img {
  display: flex;
}

.carousel__controls {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  position: absolute;
  bottom: 43px;
  left: 0;
}

.carousel__controls li {
  padding-left: 8px;
}

.carousel__controls li:first-child {
  padding: 0;
}

.promo {
  grid-column: 1/-1;
}

.promo__list {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  padding: 0;
  margin: 0;
  list-style: none;
}

/* .promo__list li:nth-child(2n) {
  margin-left: 26px;
} */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  row-gap: 40px;
}

.card {
  width: 560px;
  min-height: 229px;
  border-radius: 16px;
  padding: 14px 22px 22px 16px;
  display: flex;
  flex-direction: column;
}

.promo__item--raspberry {
  background-image: url(../img/background-raspberry.jpg);
}

.promo__item--choco {
  background-image: url(../img/background-chocolate.jpg)
}

.card h3 {
  margin: 0;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.card p {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}

.card__btn {
  margin-left: auto;
  margin-top: auto;
}

.catalog {
  grid-column: 1/-1;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  row-gap: 40px;
}

.catalog__item--hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: var(--product-card-hit);
  background-image: url(../img/icon-hit.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.product-card {
  /* width: 267px; */
  text-align: center;
  position: relative;
  outline: none;
}

.product-card img {
  border-radius: 50%;
  margin-bottom: 7px;
}

.product-card__btn {
  padding: 9px 16px;
  position: absolute;
  min-width: 200px;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%,100%);
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: none;
}

.product-card:hover, .product-card:focus-within {
  z-index: 1
}

.product-card:hover .product-card__btn, .product-card:focus-within .product-card__btn {
  /* display: block; */
  visibility: visible;
  transition: opacity;
  transition-duration: 0.35s;
  transition-delay: 0.15s;
  opacity: 1;
}

.product-card::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  background-color: var(--interactive-elements);
  border-radius: 50%;
  transition: 0.2s;
}

.product-card:hover::after, .product-card:focus-within::after {
  height: calc(100% + 86px);
  width: calc(100% + 26px);
  left: -13px;
  top: -6px;
  border-radius: 4px;
}

.product-card__price {
  margin: 0;
  position: absolute;
  left: 0;
  top: 207px;
}

.price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px var(--price-text-shadow);
}

.price--measure {
  font-size: 30px;
  line-height: 35px;
}

.about {
  grid-column: 1/-1;
  margin: 0;
  border-radius: 16px;
  background-image: url(../img/background-waffle.jpg);
  background-repeat: repeat;
  color: var(--extra-text-color);
  padding: 20px;
  padding-top: 24px;
  padding-bottom: 30px;
}

.about__title {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.advantages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  row-gap: 12px;
}

.advantages__item {
  width: 540px;
  padding-left: 55px;
  margin-top: 10px;
}

.new-blog {
  grid-column: 1/3;
  padding: 20px 250px 20px 20px;
  color: var(--extra-text-color);
  background-image: url(../img/background-strawberry.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--extra-sections-bg);
  min-height: 220px;
}

.new-blog h2 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.new-blog a[href] {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  text-decoration-color: inherit;
}

.newsletter {
  grid-column: 3/5;
  padding: 5px 6px;
  background-image: url(../img/background-mail.png);
  color: var(--extra-text-color);
  min-height: 220px;
}

.newsletter__content {
  padding: 29px 16px 36px 20px;
  width: 100%;
  height: 100%;
  background-color: var(--sections-bg);
  border-radius: 16px;
}

.newsletter__content p {
  margin: 0;
}

.contacts {
  width: 100%;
  position: relative;
}

.contacts__container {
  min-height: 430px;
  display: flex;
  padding: 40px 0;
  justify-content: flex-end;
  align-items: center;
}

.contacts__content {
  z-index: 1;
  color: var(--extra-text-color);
  padding: 29px 25px 31px;
  background-color: var(--extra-sections-bg);
  border-radius: 16px;
}

.contacts__content p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.contacts__content a {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-decoration-color: transparent;
}

.contacts__map {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../img/map.png);
  background-size: cover;
}

.main-footer {
  padding: 18px 0 23px 0;
}

.main-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.social__item {
  margin-left: 8px;
}

.social__item:first-child {
  margin: 0;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  height: 41px;
  font-size: 13px;
  line-height: 18px;
}

.footer-nav__item {
  padding-left: 20px;
  margin-left: 12px;
}

.footer-nav__item--heart {
  font-weight: bold;
}

.main-footer__copyrigt {
  font-size: 12px;
  line-height: 18px;
}

.main-footer__copyrigt p {
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs__item {
  margin-left: 22px;
}

.breadcrumbs__item:first-child {
  margin: 0;
}

.filter {
  margin-bottom: 27px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.filter-form__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 15px;
}

.filter-form__fieldset, .filter-form__submit {
  margin-bottom: 13px;
}

.filter-form__fieldset--price {
  display: grid;
  grid-template-columns: min-content 1fr;
  min-width: 218px;
}

.filter-form__fieldset--price legend {
  display: contents;
}

.filter-form__fieldset--price ul {
  margin: 0;
  margin-left: 5px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 5px;
}

.filter-form__fieldset--price li {
  position: relative;
}

.filter-form__fieldset--price li:first-child::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 1.5px;
}

.filter-form__inputs {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border: 0;
  background: var(--interactive-elements);
  color: var(--text-color);
  border-radius: 9999px;
  padding: 9px 16px 9px 13px;
  margin: 0;
  list-style: none;
  display: flex;
}

.filter-form__inputs--sort-by {
  appearance: none;
}

.filter-form__inputs--sort-by:hover, .filter-form__inputs--sort-by:focus, .filter-form__inputs--sort-by:active {
  color: var(--extra-text-color);
}

.filter-form__inputs--sort-by, .form-item__label, .filter-form__submit {
  cursor: pointer;
}

.filter-form__item {
  margin-right: 20px;
}

.filter-form__item:last-child {
  margin: 0;
}

.filter-form__input {
  appearance: none;
  border: none;
  min-width: 8px;
  max-width: 100px;
  background: transparent;
  color: var(--text-color);
  -moz-appearance: textfield;
}

.filter-form__input--price {
  appearance: none;
  border: none;
  padding: 0;
  min-width: 8px;
  max-width: 56px;
  background: transparent;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-form__input--price::-webkit-outer-spin-button,
.filter-form__input--price::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filter-form__inputs--range-controls {
  height: 36px;
  grid-column: 1/-1;
}

.range-controls {
  position: relative;
}

.range-controls__scale {
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: calc(100% - 42px);
}

.range-controls__bar {
  position: relative;

  width: 100%;
  height: 2px;

  background-color: var(--form-range-price-disabled);
}

.range-controls__bar--active {
  position: absolute;
  left: 21px;
  width: 94px;
  height: 2px;
  background-color: var(--form-range-price);
}

.range-controls__toggle {
  position: absolute;
  bottom: 1px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  cursor: pointer;
  cursor: -webkit-grab;
  cursor:         grab;
}

.range-controls__toggle--min {
  left: 13px;
}

.range-controls__toggle--max {
  left: 111px;
}

.form-item__label {
  padding-left: 33px;
}


.filter-form__submit, .filter-form__submit:hover, .filter-form__submit:focus, .filter-form__submit:active {
  background: none;
  box-shadow: none;
}

.filter-form__submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  min-width: 144px;
  background-color: var(--interactive-elements);
  border: 2px solid var(--filter-btn);
  padding: 7px 27px;
  transition: none;
  transition: color 0.3s, background 0.3s;
  text-shadow: none;
}

.filter-form__submit:hover, .filter-form__submit:focus, .filter-form__submit:active {
  color: var(--extra-text-color);
  background-color: var(--filter-btn);
  padding: 9px 29px;
  border: 0;
}

.filter-form__submit:active {
  box-shadow: inset 0px 2px 1px var(--extra-btn-active-shadow);
}

.catalog__pages {
  margin-top: 80px;
  display: flex;
}

.pages__list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  display: flex;
}

.pages__page-btn, .pages__page-btn:hover, .pages__page-btn:focus, .pages__page-btn:active {
  background: none;
  box-shadow: none;
  text-shadow: none;
}

.pages__page-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 4px 6px;
  text-align: center;
  min-width: 26px;
  min-height: 26px;
}

.pages__item {
  margin-left: 4px;
}

.pages__item:first-child {
  margin: 0;
}

.pages__page-btn[href]:hover, .pages__page-btn[href]:focus {
  background-color: var(--pages-btn-hover);
}

.pages__page-btn:not([href]), .pages__page-btn[href]:active {
  background-color: var(--pages-btn);
  color: var(--extra-text-color);
}
