@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  src: local("Roboto"),
  url("./../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";

  src: local("Roboto Bold"),
  url("./../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";

  src: local("Roboto Medium"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

/*Variables*/
:root {
  --white: #FFFFFF;
  --opacity-08-white: rgba(255, 255, 255, 0.8);
  --opacity-07-white: rgba(255, 255, 255, 0.7);
  --opacity-05-white: rgba(255, 255, 255, 0.5);
  --opacity-04-white: rgba(255, 255, 255, 0.4);
  --opacity-03-white: rgba(255, 255, 255, 0.3);
  --opacity-02-white: rgba(255, 255, 255, 0.2);
  --opacity: rgba(255, 255, 255, 0);
  --black: #000000;
  --opacity-04-black: rgba(0, 0, 0, 0.4);
  --opacity-02-black: rgba(0, 0, 0, 0.2);
  --opacity-007-black: rgba(0, 0, 0, 0.07);
  --dark: #323232;
  --opacity-03-dark: rgba(50, 50, 50, 0.3);
  --opacity-02-dark: rgba(50, 50, 50, 0.2);
  --light: #FEFEFE;
  --light-beige: #F8F7F4;
  --opacity-05-light-beige: rgba(248, 247, 244, 0.5);
  --light-grayish-lime-green: #FBFCFB;
  --very-dark-grey: #5A5A5A;
  --dark-grey: #696969;
  --grey: #999999;
  --light-grey: #ABABAB;
  --opacity-052-light-grey: rgba(178, 178, 178, 0.52);
  --very-light-grey: #EDEDED;
  --bright-blue: #2E88E4;
  --opacity-052-bright-blue: rgba(46, 136, 228, 0.52);
  --very-dark-grayish-blue: #313235;
  --opacity-05-very-dark-grayish-blue: rgba(49, 50, 53, 0.5);
  --grayish-yellow: #CACAC7;
  --dark-dark-red: #A0300B;
  --opacity-076-dark-dark-red: rgba(160, 32, 11, 0.76);
  --dark-red: #AC1000;
  --opacity-064-dark-red: rgba(172, 16, 0, 0.64);
  --extra-dark-red: #942718;
  --red: #E84D37;
  --opacity-03-red: rgba(232, 77, 55, 0.3);
  --moderate-red: #D07058;
  --very-soft-red: #F6B5A5;
  --light-grayish-red: #FBDED7;
  --pale-orange: #FFBC9E;
  --opacity-03-pale-orange: rgba(255, 188, 158, 0.3);
  --bright-red: #F26843;
  --extra-bright-red: #E74A35;
  /*под вопросом*/
  --opacity-052-blue: rgba(46, 136, 228, 0.52);
  --bg-1: #849D8F;
  --bg-2: #8996A6;
  --bg-3: #9D8B84;
  --body-bg: linear-gradient(180deg, var(--opacity-02-white) 0%, var(--opacity) 100%);
  --sections-bg: var(--light-beige);
  --extra-sections-bg: var(--light);
  --text-color: var(--white);
  --extra-text-color: var(--dark);
  --link-underline: var(--opacity-03-white);
  --link-hover: var(--pale-orange);
  --link-hover-underline: var(--opacity-03-pale-orange);
  --extra-link-underline: var(--opacity-03-dark);
  --extra-link-hover: var(--red);
  --extra-link-hover-underline: var(--opacity-03-red);
  --interactive-elements: var(--opacity-02-white);
  --btn: linear-gradient(180deg, var(--bright-red) 0%, var(--extra-bright-red) 100%);
  --btn-shadow: var(--opacity-064-dark-red);
  --btn-text-shadow: var(--opacity-076-dark-dark-red);
  --btn-hover: linear-gradient(0deg, var(--opacity-02-white), var(--opacity-02-white)), var(--btn);
  --btn-hover-shadow: var(--dark-red);
  --btn-active: linear-gradient(0deg, var(--opacity-007-black), var(--opacity-007-black)), var(--btn);
  --btn-active-shadow: var(--extra-dark-red);
  --extra-btn-active-shadow: var(--dark-grey);
  --logo: var(--light-grayish-lime-green);
  --input: var(--white);
  --input-active: var(--opacity-052-bright-blue);
  --input-border: var(--opacity-052-light-grey);
  --input-placeholder: var(--grey);
  --nav-btn: var(--opacity-02-white);
  --nav-btn-hover: var(--white);
  --nav-btn-active: var(--very-light-grey);
  --nav-btn-nothref: var(--moderate-red);
  --nav-btn-underline: var(--opacity-02-white);
  --nav-btn-cart: var(--red);
  --dropdown-shadow: var(--opacity-04-black);
  --dropdown-hover: var(--light-grayish-red);
  --dropdown-active: var(--very-soft-red);
  --dropdown-current: var(--moderate-red);
  --carousel-conrols: var(--white);
  --carousel-conrols-hover: var(--opacity-04-white);
  --pages-btn: var(--white);
  --pages-btn-hover: var(--opacity-02-white);
  --form-interactive: var(--opacity-05-white);
  --form-range-price: var(--light-beige);
  --form-range-price-disabled: var(--opacity-05-light-beige);
  --product-card-hit: var(--white);
  --product-card-shadow: var(--opacity-02-black);
  --filter-btn: var(--white);
  --price-text-shadow: var(--opacity-05-very-dark-grayish-blue);
  --social-border: var(--opacity-05-white);
  --social-border-active: var(--opacity-07-white);
}

/*Global*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  align-content: start;
  min-height: 100%;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);

  background-color: var(--bg-1);

  font-kerning: normal;
  grid-template-rows: min-content 1fr min-content;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  border: none;

  appearance: none;
}

h1 {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
}

.main-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 656px;
  background: var(--body-bg);
  z-index: -10;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 12px 22px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  color: var(--text-color);
  text-shadow: 0 2px 5px var(--btn-text-shadow);

  background: var(--btn);
  border-radius: 99999px;
  box-shadow: 0 2px 2px var(--btn-shadow);

  transition: all 0.3s;
}

.btn:hover,
.btn:focus {
  background: var(--btn-hover);
  box-shadow: 0 2px 2px var(--btn-hover-shadow);
}

.btn:active {
  background: var(--btn-active);
  box-shadow: inset 0 2px 2px var(--btn-active-shadow);
}

.link {
  display: inline-block;

  color: var(--text-color);

  transition: all 0.3s;
}

.link[href] {
  text-decoration: underline;

  text-decoration-color: var(--link-underline);
}

.link[href]:hover,
.link[href]:focus,
.link[href]:active {
  color: var(--link-hover);

  text-decoration-color: var(--link-hover-underline);
}

.link--dark {
  color: var(--extra-text-color);
}

.link--dark[href] {
  text-decoration-color: var(--extra-link-underline);
}

.link--dark[href]:hover,
.link--dark[href]:focus,
.link--dark[href]:active {
  color: var(--extra-link-hover);

  text-decoration-color: var(--extra-link-hover-underline);
}

.text-input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.text-input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.text-input[type="search"]::-webkit-search-decoration,
.text-input[type="search"]::-webkit-search-cancel-button,
.text-input[type="search"]::-webkit-search-results-button,
.text-input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.text-input {
  padding: 11px 12px;

  font-size: 16px;
  line-height: 20px;

  border: 1px solid var(--input-border);
  border-radius: 4px;
  outline: none;

  transition: border-color 0.3s;
}

.text-input::placeholder {
  color: var(--input-placeholder);
}

.text-input:placeholder-shown:hover {
  padding: 10px 11px;

  border-width: 2px;
}

.text-input:placeholder-shown:focus {
  padding: 10px 11px;

  border-width: 2px;
  border-color: var(--input-active);
}

.main-nav .text-input {
  padding: 13px 14px;
  font-size: 14px;
  line-height: 16px;
}

.main-nav .text-input:placeholder-shown:hover {
  padding: 12px 13px;
}

.main-nav .text-input:placeholder-shown:focus {
  padding: 12px 13px;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.main-header {
  z-index: 1;
}

.main-header__container--up {
  display: grid;
  padding-top: 3px;

  grid-template-columns: min-content 1fr;
}

.main-header__container--down {
  margin-top: -3px;
  margin-bottom: -25px;
}

.logo {
  transition: 0.3s;

  fill: var(--logo);
}

.logo[href]:hover,
.logo[href]:focus,
.logo[href]:active {
  fill: var(--link-hover);
}

.main-header__logo {
  min-width: 154px;
  padding-top: 6px;
}

.main-header__nav  {
  margin-top: 20px;
  margin-bottom: 8px;
}

.main-nav {
  display: flex;
  width: 100%;
}

.nav-pages,
.nav-buttons {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__pages {
  height: min-content;
  margin-left: 10px;
}

.main-nav__buttons {
  height: min-content;
  margin-left: auto;
}

.nav-pages__item {
  position: relative;

  margin-right: 4px;
}

.nav-buttons__item {
  position: relative;

  margin-left: 10px;
}

.nav-pages__btn,
.nav-pages__btn:hover,
.nav-pages__btn:focus,
.nav-pages__btn:active,
.nav-buttons__btn,
.nav-buttons__btn:hover,
.nav-buttons__btn:focus,
.nav-buttons__btn:active {
  text-shadow: none;

  background: none;
  box-shadow: none;
}

.nav-pages__btn {
  position: relative;

  padding: 6px 14px 7px 14px;

  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.nav-buttons__btn {
  position: relative;

  background: var(--nav-btn);

  min-width: 32px;
  min-height: 32px;
  padding: 9px 16px 7px 14px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.nav-buttons__btn--with-icon {
  padding-left: 45px;
}

.nav-buttons__btn--with-icon::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;

  background-repeat: no-repeat;
  background-position: center;

  transition: 0.3s;
}

.nav-buttons__btn--login::after {
  width: 20px;
  height: 19px;

  background-image: url(../img/icons/sign-in.svg);
}

.nav-buttons__btn--cart::after {
  width: 21px;
  height: 20px;

  background-image: url(../img/icons/cart.svg);
}

.nav-buttons__btn--cart.nav-buttons__btn--cart-with-products::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 21px;

  width: 14px;
  height: 9px;

  background-color: var(--nav-btn-cart);
}

.nav-buttons__btn--search::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 16px;
  height: 16px;

  background-image: url(../img/icons/search.svg);
  transform: translate(-50%, -50%);

  transition: 0.3s;
}

.nav-buttons__btn:hover::after,
.nav-buttons__btn:focus::after,
.nav-buttons__btn--cart-with-products::after,
.nav-buttons__item:focus-within > .nav-buttons__btn::after,
.nav-buttons__item:hover > .nav-buttons__btn::after {
  filter: invert(100%);
}

.nav-pages__btn[href]:hover,
.nav-pages__btn[href]:focus,
.nav-buttons__btn[href]:hover,
.nav-buttons__btn[href]:focus,
.nav-buttons__btn--cart-with-products,
.nav-pages__item:hover .nav-pages__btn,
.nav-buttons__item:hover > .nav-buttons__btn,
.nav-buttons__item:focus-within > .nav-buttons__btn {
  color: var(--extra-text-color);

  background: var(--nav-btn-hover);
}

.nav-pages__btn:active,
.nav-buttons__btn:active {
  color: var(--extra-text-color);
  text-decoration: none;

  background: var(--nav-btn-active);
  box-shadow: inset 0 2px 1px var(--extra-btn-active-shadow);

  text-decoration-color: var(--nav-btn-underline);
}

.nav-pages__btn:not(.nav-pages__btn--current)::before {
  content: "";
  position: absolute;
  bottom: 6px;

  width: calc(100% - 28px);
  height: 1px;

  background-color: var(--opacity-02-white);
}

.nav-pages__btn:not(.nav-pages__btn--current):hover::before,
.nav-pages__btn:not(.nav-pages__btn--current):focus::before {
  content: "";
  left: 50%;

  width: 0;
}

.nav-pages__btn--current {
  background-color: var(--nav-btn-nothref);
}

.dropdown {
  width: max-content;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 16px;
  color: var(--extra-text-color);

  background: var(--sections-bg);
  border-radius: 4px;
  box-shadow: 0 20px 20px var(--dropdown-shadow);

  transition: visibility 0s ease 0.2s, opacity 0.15s ease 0.05s;
}

.nav-pages__dropdown,
.nav-buttons__dropdown {
  position: absolute;
  top: calc(100% + 4px);
  z-index: 10;

  margin: 0;
  overflow: hidden;

  visibility: hidden;
  opacity: 0;
}

.nav-pages__item:hover > .dropdown,
.nav-pages__item:focus-within > .dropdown,
.nav-buttons__item:hover > .dropdown,
.nav-buttons__item:focus-within > .dropdown {
  visibility: visible;
  opacity: 1;

  transition: opacity 0.3s;
}

.dropdown--catalog {
  background: var(--nav-btn-hover);
}

.nav-pages__dropdown--catalog {
  top: calc(100% + 5px);
  left: -6px;
}

.dropdown--catalog li {
  margin: 2px 0;
}

.dropdown--catalog .dropdown__link {
  display: block;
  padding: 7px 19px 7px 22px;

  transition: 0.3s;
}

.dropdown--catalog .dropdown__link:hover,
.dropdown--catalog .dropdown__link:focus {
  background-color: var(--dropdown-hover);
}

.dropdown--catalog .dropdown__link:active {
  background-color: var(--dropdown-active);
}

.dropdown--catalog .dropdown__link--current,
.dropdown--catalog .dropdown__link--current:hover,
.dropdown--catalog .dropdown__link--current:active {
  color: var(--text-color);

  background-color: var(--dropdown-current);
}

.dropdown--catalog .dropdown__link--with-underline {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}

.dropdown__link--with-underline::after {
  content: "";
  width: calc(100% - 15px);
  border-top: 1px solid rgba(50, 50, 50, 0.2);
  display: block;
  position: absolute;
  left: 6px;
  bottom: -6px;
  z-index: 5;
}

.dropdown--login {
  right: 0;

  padding: 20px 17px 22px 19px;
}

.login-form {
  display: grid;
  align-items: center;

  grid-gap: 20px;
  grid-template-columns: max-content max-content;
}

.login-form__input {
  grid-column: 1/-1;
}

.login-form__submit {
  padding: 14px 26px 14px 25px;

  line-height: 16px;
}

.login-form__links {
  display: grid;

  font-size: 13px;
  line-height: 15px;

  row-gap: 6px;
}

.dropdown--search {
  width: 341px;
  padding: 20px 15px;
}

.nav-buttons__dropdown--search {
  position: absolute;
  right: 0;
}

.nav-buttons__dropdown--search .text-input {
  width: 100%;
}

.main-header__contacts {
  margin-left: auto;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.main-header__contacts p {
  margin: 0;
  margin-bottom: 8px;
}

.main-header__contacts a {
  position: relative;

  font-size: 22px;
  line-height: 24px;
  color: var(--text-color);
}

.main-header__contacts a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 0;
  height: 2px;

  background-color: var(--opacity-02-white);

  transition: 0.3s;
}

.main-header__contacts a:hover::before,
.main-header__contacts a:focus::before {
  content: "";
  left: 0;

  width: 100%;
}

.main-container {
  display: grid;
  margin-bottom: 40px;

  column-gap: 26px;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
}

.carousel {
  position: relative;

  grid-column: 1/-1;
}

.carousel__slides-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.carousel-slide {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 299px 237px 1px;
}

.carousel-slide__title {
  margin: 0 0 26px;

  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.carousel-slide__btn {
  padding: 9px 21px 9px 23px;

  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;

  transform: translateX(-8px);
}

.carousel-slide img {
  position: absolute;
  top: -349px;
  left: 50%;
  z-index: -1;

  display: none;
  max-width: none;

  transform: translate(-50%);
}

.carousel-slide--active,
.carousel-slide--active img {
  display: flex;
}

.carousel__controls {
  position: absolute;
  bottom: 23px;
  left: 0;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.controls li {
  padding-left: 8px;
}

.controls li:first-child {
  padding: 0;
}

.controls__link {
  display: block;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  border: 2px solid var(--carousel-conrols);
  transition: background 0.3s;
}

.controls__link:not(.controls__link--active):hover {
  background-color: var(--carousel-conrols-hover);
}

.controls__link:not(.controls__link--active):active,
.controls__link--active {
  background-color: var(--carousel-conrols);
}

.promo {
  grid-column: 1/-1;
}

.promo__list {
  margin: 0;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  padding: 0;

  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

/* .promo__list li:nth-child(2n) {
  margin-left: 26px;
} */
.cards {
  display: grid;

  column-gap: 26px;

  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 229px;
  padding: 16px 22px 22px 16px;

  border-radius: 16px;
}

.card h3 {
  margin: 0;
  margin-bottom: 16px;

  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.card p {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}

.card__btn {
  margin-top: auto;
  margin-left: auto;
}

.promo__item--raspberry {
  background-image: url(../img/background-raspberry.jpg);
}

.promo__item--choco {
  background-image: url(../img/background-chocolate.jpg);
}

.catalog {
  grid-column: 1/-1;
}

.catalog__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 26px;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
}

.catalog__item--hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-color: var(--product-card-hit);
  background-image: url(../img/icons/hit.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.product-card {
  position: relative;

  text-align: center;

  outline: none;
}

.product-card img {
  margin-bottom: 7px;

  border-radius: 50%;
}

.product-card__price {
  position: absolute;
  top: 209px;
  left: 0;

  margin: 0;
}

.price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px var(--price-text-shadow);
}

.price__currency {
  padding-left: 13px;
}

.price__unit-of-mass {
  font-size: 30px;
  line-height: 35px;
}

.product-card__btn {
  position: absolute;
  bottom: -15px;
  left: 50%;

  min-width: 200px;
  padding: 9px 16px;

  transform: translate(-50%, 100%);\
  visibility: hidden;
  opacity: 0;

  transition: none;
}

.product-card:hover,
.product-card:focus-within {
  z-index: 1;
}

.product-card:hover .product-card__btn,
.product-card:focus-within .product-card__btn {
  visibility: visible;
  opacity: 1;

  transition: opacity;
  transition-delay: 0.15s;
  transition-duration: 0.35s;
}

.product-card::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  width: 0;
  height: 0;

  background-color: var(--interactive-elements);
  border-radius: 50%;
  box-shadow: 0 20px 20px var(--product-card-shadow);

  transition: 0.2s;
}

.product-card:hover::after,
.product-card:focus-within::after {
  top: -6px;
  left: -13px;

  width: calc(100% + 26px);
  height: calc(100% + 86px);

  border-radius: 4px;
}

.about {
  margin: 0;
  padding: 20px;
  padding-top: 24px;
  padding-bottom: 30px;

  color: var(--extra-text-color);

  background-image: url(../img/background-waffle.jpg);
  background-repeat: repeat;
  border-radius: 16px;

  grid-column: 1/-1;
}

.about__title {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.advantages {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 26px;

  grid-template-columns: 1fr 1fr;
  row-gap: 12px;
}

.advantages__item {
  width: 540px;
  padding-top: 10px;
  padding-left: 55px;
  position: relative;
}

.advantages__item::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  top: 1px;
  border-radius: 50%;
  border: 2px solid var(--extra-text-color);
  background-repeat: no-repeat;
}

.advantages__item--equipment::before {
  background-image: url(../img/icons/advantages-ice-cream.svg);
  background-position: bottom 7px left 14px;
}

.advantages__item--ingredients::before {
  background-image: url(../img/icons/advantages-cow.svg);
  background-position: bottom 11px left 10px;
}

.advantages__item--milk::before {
  background-image: url(../img/icons/advantages-leaf.svg);
  background-position: bottom 9px left 14px;
}

.advantages__item--delivery::before {
  background-image: url(../img/icons/advantages-thermometer.svg);
  background-position: bottom 10px left 16px;
}

.new-blog {
  min-height: 220px;
  padding: 18px 250px 20px 20px;

  color: var(--extra-text-color);

  background-color: var(--extra-sections-bg);
  background-image: url(../img/background-strawberry.jpg);
  background-repeat: no-repeat;
  background-position: center;

  grid-column: 1/3;
}

.new-blog h2 {
  margin: 0;
  margin-bottom: 3px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.new-blog a[href] {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;

  text-decoration-color: inherit;
}

.newsletter {
  min-height: 220px;
  padding: 5px 6px;

  color: var(--extra-text-color);

  background-image: url(../img/background-mail.png);

  grid-column: 3/5;
}

.newsletter__content {
  width: 100%;
  height: 100%;
  padding: 24px 20px 35px 20px;

  background-color: var(--sections-bg);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
}

.newsletter__content p {
  margin: 0;
}

.newsletter-form {
  display: flex;
  margin-top: auto;
}

.newsletter-form__label {
  width: 100%;
  margin-right: 10px;
}

.newsletter-form__input {
  width: 100%;

}

.newsletter-form__submit-btn {
  padding: 11px 19px 9px 19px;
}

.contacts {
  position: relative;

  width: 100%;
}

.contacts__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 430px;
  padding: 40px 0;
}

.contacts__content {
  z-index: 1;

  padding: 29px 25px 31px;
  min-width: 303px;

  color: var(--extra-text-color);

  background-color: var(--extra-sections-bg);
  border-radius: 16px;
}

.contacts__content p {
  margin: 0;
  margin-bottom: 22px;

  font-size: 14px;
  line-height: 20px;
}

.contacts__content .link[href] {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  text-decoration-color: transparent;
}

.contacts__map {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url(../img/map.png);
  background-size: cover;
}

.contacts__tel {
  margin-top: 2px;
}

.contacts__feedback {
  width: 100%;
  margin-top: 5px;
  padding: 10px 19px 9px 19px;
}

.main-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  min-height: 103px;
}

.social ul {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-left: 8px;
}

.social__item:first-child {
  margin: 0;
}

.social__link {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  border: 2px solid var(--social-border);
  border-radius: 50%;
  transition: 0.3s;
}

.social__link::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  transition: 0.3s;
}

.social__link:hover::after,
.social__link:active::after {
  opacity: 1;
}

.social__link:active {
  border-color: var(--social-border-active);
}

.social__link--fb::after {
  background-image: url(../img/icons/social-fb.svg);
}

.social__link--vk::after {
  background-image: url(../img/icons/social-vk.svg);
}

.social__link--inst::after {
  background-image: url(../img/icons/social-inst.svg);
}

.social__link--twitter::after {
  background-image: url(../img/icons/social-twitter.svg);
}

.footer-nav ul {
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 5px;
  column-gap: 10px;
  column-gap: 10px;
  height: 41px;
  margin: 0;
  padding: 0;
  padding-top: 2px;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
}

.footer-nav__item .link {
  padding-left: 22px;
  text-underline-offset: 2px;
}

.footer-nav__item--heart {
  font-weight: bold;
}

.main-footer__copyrigt {
  font-size: 12px;
  line-height: 18px;
  margin-top: -5px;
}

.main-footer__copyrigt p {
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs__item {
  margin-left: 23px;
}

.breadcrumbs__item:first-child {
  margin: 0;
}

.filter {
  margin-bottom: 27px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.filter-form__fieldset {
  margin: 0;
  margin-right: 15px;
  padding: 0;

  border: 0;

}

.filter-form__fieldset,
.filter-form__submit {
  margin-bottom: 13px;
}

.filter-form__fieldset legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}

.filter-form__fieldset--price {
  display: grid;
  row-gap: 6px;
  min-width: 218px;

  grid-template-columns: min-content 1fr;
  align-items: baseline;
}

.filter-form__fieldset--price legend {
  display: contents;
}

.filter-form__fieldset--price ul {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: grid;
  margin: 0;
  margin-left: 5px;
  padding: 0;

  list-style: none;
  column-gap: 5px;

  grid-template-columns: max-content max-content;
}

.filter-form__fieldset--price li {
  position: relative;
}

.filter-form__fieldset--price li:first-child::after {
  content: "";
  position: absolute;

  width: 8px;
  height: 1.5px;
}

.filter-form__inputs {
  display: flex;
  margin: 0;
  padding: 9px 16px 9px 13px;

  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-color);

  background: var(--interactive-elements);
  border: 0;
  border-radius: 9999px;
}

.filter-form__inputs--sort-by {
  appearance: none;
}

.filter-form__inputs--sort-by:hover,
.filter-form__inputs--sort-by:focus,
.filter-form__inputs--sort-by:active {
  color: var(--extra-text-color);
}

.filter-form__inputs--sort-by,
.form-item__label,
.filter-form__submit {
  cursor: pointer;
}

.filter-form__item {
  margin-right: 20px;
}

.filter-form__item:last-child {
  margin: 0;
}

.filter-form__input {
  min-width: 8px;
  max-width: 100px;

  color: var(--text-color);

  background: transparent;
  border: none;

  -moz-appearance: textfield;
       appearance: none;
}

.filter-form__input--price {
  min-width: 8px;
  max-width: 56px;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);

  background: transparent;
  border: none;

  appearance: none;
}

.filter-form__input--price::-webkit-outer-spin-button,
.filter-form__input--price::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filter-form__inputs--range-controls {
  height: 36px;

  grid-column: 1/-1;
}

.range-controls {
  position: relative;
}

.range-controls__scale {
  position: absolute;
  top: 50%;
  left: 50%;

  width: calc(100% - 42px);
  height: 2px;

  transform: translate(-50%, -50%);
}

.range-controls__bar {
  position: relative;

  width: 100%;
  height: 2px;

  background-color: var(--form-range-price-disabled);
}

.range-controls__bar--active {
  position: absolute;
  left: 21px;

  width: 94px;
  height: 2px;

  background-color: var(--form-range-price);
}

.range-controls__toggle {
  position: absolute;
  bottom: 1px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  cursor: pointer;
  cursor: -webkit-grab;
  cursor:         grab;
}

.range-controls__toggle--min {
  left: 13px;
}

.range-controls__toggle--max {
  left: 111px;
}

.form-item__label {
  padding-left: 33px;
}

.filter-form__submit,
.filter-form__submit:hover,
.filter-form__submit:focus,
.filter-form__submit:active {
  background: none;
  box-shadow: none;
}

.filter-form__submit {
  min-width: 144px;
  padding: 7px 27px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-shadow: none;

  background-color: var(--interactive-elements);
  border: 2px solid var(--filter-btn);

  transition: none;
  transition: color 0.3s, background 0.3s;
}

.filter-form__submit:hover,
.filter-form__submit:focus,
.filter-form__submit:active {
  padding: 9px 29px;

  color: var(--extra-text-color);

  background-color: var(--filter-btn);
  border: 0;
}

.filter-form__submit:active {
  box-shadow: inset 0 2px 1px var(--extra-btn-active-shadow);
}

.catalog__pages {
  display: flex;
  margin-top: 80px;
}

.pages__list {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.pages__page-btn,
.pages__page-btn:hover,
.pages__page-btn:focus,
.pages__page-btn:active {
  text-shadow: none;

  background: none;
  box-shadow: none;
}

.pages__page-btn {
  min-width: 26px;
  min-height: 26px;
  padding: 4px 6px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.pages__item {
  margin-left: 4px;
}

.pages__item:first-child {
  margin: 0;
}

.pages__page-btn[href]:hover,
.pages__page-btn[href]:focus {
  background-color: var(--pages-btn-hover);
}

.pages__page-btn:not([href]),
.pages__page-btn[href]:active {
  color: var(--extra-text-color);

  background-color: var(--pages-btn);
}
